body {
background-color: #f0f0f0;
}
h1 {
color: rgb(0, 0, 255);
text-align: center;
font-size: 36px;
}
p {
color: #333;
line-height: 1.5;
text-transform: uppercase;
}
.highlight {
background-color: yellow;
font-weight: bold;
}
#header {
background-color: black;
color: white;
padding: 20px;
text-align: center;
}