body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    
}

h1, h2 {
    color: #4CAF50;
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    border-radius: 8px;
}

form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow:  4px 8px rgba(0, 0, 0, 0.1);
}

 input[type="radio"] {
    margin-right: 8px;
}

input[type="checkbox"] {
    margin-right: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
}

legend {
    font-size: 1rem;
    font-weight: bold;
}

