html, body{
    font-family: 'Inter', sans-serif;
}
.container{
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 16px;
}
.base-bg{
    background-color: #043873;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}
.link{
    color: white;
    text-decoration: none;
}
.btns-wrapper{
    display: flex;
    align-items: center;
    gap: 24px;
}
.base-btn{
    border-radius: 8px;
    border: none;
    padding: 18px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4F9CF9;
    color: white;
}

.login-btn{
    background-color: #ffe492;
    color: #043873;
}
.logo{
    font-weight: 700;
    font-size: 28px;
}
.nav-wrapper{
    display: flex;
    align-items: center;
    gap: 32px;
}
.title{
    margin: 0 0 20px 0;
    font-size: 64px;
}
.content-wrapper{
    padding: 140px 0;
    display: flex;
    align-items: center;
}
.text-white{
    color: white;
    
}
.sub-title{
    margin: 0 0 60px 0;
    font-size: 18px;
}
.content-img{
    height: auto;
}
.base-bg2{
    background-color: #ffffff;
}
.text-black{
    color: black;
}
.title1{
    padding: 0 0 0 60px;
    font-size: 64px;
}
.sub-title1{
    padding: 0 0 0 60px;
    font-size: 18px;
}