.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4 , 200px);
    gap: 21px


}
 .grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.grid-items-1 {
    grid-column: 1/2;
    background-color: red
}

.grid-items-2 {
    grid-column: 2/3;
    background-color:blue
}

.grid-items-3 {
    grid-column: 3/4 ;
    background-color:gold
}

.grid-items-4 {
    grid-row: 3/2 ;
    grid-column: 1/-1 ;
    background-color:chartreuse
}

.grid-items-5 {
    grid-row: 3/3 ;
    grid-column: 1/3 ;
    background-color:darkgoldenrod
}

.grid-items-6 {
    grid-row: 4/4 ;
    grid-column: 1/3 ;
    background-color:darkorchid
}

.grid-items-7 {
    grid-row: 3 ;
    grid-column: 3 ;
    background-color:rosybrown
}

.grid-items-8 {
    grid-row: 4/5 ;
    background-color:gray
}