.grid-container {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 16px;
}

.grid-container > div { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.item-1 {
    background-color: rgb(255, 0, 0);
    grid-column: 1/3;
    grid-row: 1/2;
    border-radius: 12px;
}

.item-2 {
    background-color: rgb(163, 163, 11);
    grid-column: 1/4;
    grid-row: 2/3;
    border-radius: 12px;
}

.item-3 {
    background-color: rgb(15, 172, 177);
    grid-column: 4/-3;
    grid-row: 2/3;
    border-radius: 12px;
}

.item-4 {
    background-color: rgb(149, 9, 170);
    grid-column: 6/-1;
    grid-row: 1/4;
    border-radius: 12px;
}

.item-5 {
    background-color: rgb(23, 0, 139);
    grid-column: 3/-3;
    grid-row: 1/2;
    border-radius: 12px;
}

.item-6 {
    background-color: rgb(202, 109, 10);
    grid-column: 1/3;
    grid-row: 3/4;
    border-radius: 12px;
}

.item-7 {
    background-color: rgb(182, 120, 129);
    grid-column: 3/-3;
    grid-row: 3/5;
    border-radius: 12px;
}

.item-8 {
    background-color: rgb(35, 218, 129);
    grid-column: 6/-1;
    grid-row: 4/5;
    border-radius: 12px;
}

.item-9 {
    background-color: rgb(54, 54, 54);
    grid-column: 5/-1;
    grid-row: 5/6;
    border-radius: 12px;
}

.item-10 {
    background-color: rgb(212, 98, 53);
    grid-column: 2/5;
    grid-row: 5/6;
    border-radius: 12px;
}

.item-11 {
    background-color: rgb(183, 30, 183);
    grid-column: 1/2;
    grid-row: 4/6;
    border-radius: 12px;
}

.item-12 {
    background-color: rgb(48, 223, 48);
    grid-column: 2/3;
    grid-row: 4/5;
    border-radius: 12px;
}